<ul class="nav flex-column text-white p-3">
    <li class="nav-item">
        <a class="nav-link text-white" href="/Admin/Home">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/Admin/Product">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/Admin/Category">Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/Admin/Order">Orders</a>
    </li>
</ul>
